.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font: 13px/27px Arial,sans-serif;
}

.submit-center {
    display: block;
    text-align: -webkit-center;
    
}

.nav-items {
    margin: 10px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

.make-center-google {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.round-input {
    display: flex;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: auto;
    width: 584px;
    max-width: 584px;
    margin-top: 25px;
}

.button-google {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 25px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.advanced-search {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font: 20px Arial,sans-serif;
}

.border {
    border-bottom: 1px solid #ebebeb;
}

.h2-advanced {
    margin: 25px 35px;
    font: 13px/27px Arial,sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

.row-level-input {
    margin: 20px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-input {
    width: 200px;
}

.right-input {
    width: 385px;
    border-radius: 1px;
}

.form-labels {
    font-size: 14px;
    vertical-align: middle;
}

.button-advanced {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    margin-top: 10px;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    width: 625px;
}